# APP
APP_TAG=dev

# Server
SERVER_PORT=:8080

# Database
DB_USER=root
DB_SOURCE=postgresql://postgres:123456@localhost:5432/wasuh-dev?sslmode=disable
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=wasuh-dev
DB_PORT=5432
API_PORT=8080

# JWT
JWT_SECRET_KEY=cme48oy4x000207jl7i7i6uab
JWT_REFRESH_SECRET_KEY=cme48p6rz000307jlbvc29x0r
ACCESS_TOKEN_DURATION=168h
REFRESH_TOKEN_DURATION=336h